In [1]:
import pandas as pd
import data_scraper as ds

In [2]:
all_countries = ds.wiki_shortcodes.keys()
all_countries

dict_keys(['Austria', 'Belgium', 'Denmark', 'France', 'Germany', 'Italy', 'Japan', 'the_Netherlands', 'New_York_(state)', 'South_Korea', 'Spain', 'Sweden', 'the_United_Kingdom', 'the_United_States'])

In [3]:
test_countries = ['France', 'the_Netherlands', 'Belgium']
test_df = ds.get_data(test_countries)

Base dataframe created
Data upto 2020-04-09 collected for france.
Data upto 2020-04-10 collected for netherlands.
Data upto 2020-04-10 collected for belgium.
Fill missing data.
Dataframe ready.

In [4]:
test_df

         date  cases_fr  deaths_fr  cases_nl  deaths_nl  cases_be  deaths_be
0  2020-01-21         0          0         0          0         0          0
1  2020-01-22         0          0         0          0         0          0
2  2020-01-23         0          0         0          0         0          0
3  2020-01-24         0          0         0          0         0          0
4  2020-01-25         0          0         0          0         0          0
..        ...       ...        ...       ...        ...       ...        ...
75 2020-04-05     70478       8078     17851       1766     19691       1447
76 2020-04-06     74390       8911     18803       1867     20814       1632
77 2020-04-07     78167      10328     19580       2101     22194       2035
78 2020-04-08     82048      10869     20549       2248     23403       2240
79 2020-04-09     86334      12210     21762       2396     24983       2523

[80 rows x 7 columns]

In [5]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 0 to 79
Data columns (total 7 columns):
date         80 non-null datetime64[ns]
cases_fr     80 non-null int64
deaths_fr    80 non-null int64
cases_nl     80 non-null int64
deaths_nl    80 non-null int64
cases_be     80 non-null int64
deaths_be    80 non-null int64
dtypes: datetime64[ns](1), int64(6)
memory usage: 7.5 KB